# Perfil de Hardware (controla modelos de IA usados)
# LOW  = PC Fraco / Sem GPU (llama3.2:3b + moondream + whisper base)
# MED  = RTX 4060 / 8GB VRAM (llama3.1:8b + minicpm-v + whisper medium)
# HIGH = GPU 12GB+ VRAM (gpt-oss:20b + minicpm-v + whisper medium)
AI_PROFILE=MED

#token bot telegram
TELEGRAM_TOKEN=ADICIONE_AQUI_O_TOKEN

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# API Python (nome do serviço no docker-compose)
PYTHON_API_URL=http://brain-python:8000


# PostgreSQL + pgvector exemplo
POSTGRES_USER=usuario_bot
POSTGRES_PASSWORD=senha_bot
POSTGRES_DB=banco_bot
DATABASE_URL=postgresql://usuario_bot:senha_bot@postgres:5432/banco_bo

# Spring Financeiro
# SPRING_API_URL=http://spring-financeiro:8080
# SPRING_API_KEY=super-secret-key-123
# SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/botdb
# SPRING_DATASOURCE_USERNAME=botuser
# SPRING_DATASOURCE_PASSWORD=botpassword123